# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
*.env

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Logs
logs/

# MLflow
mlruns/

# Local data
data/
!data/.gitignore

# Docker
*.tar
*.img

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# AWS
*.pem
.aws/

# OS files
.DS_Store
Thumbs.db

# Models
models/